<div class="main-container">
    <p class="page-title"> Submissions </p>
    <app-toolbar></app-toolbar>
    <div class="submissions">
        <div class="work-flows">
            <div class="work-flow-item" *ngFor="let item of workFlowItems">
                <span class="work-flow-title">Work Flow: Requires Location </span> 
                <p class="status-container {{getStatusClass(item.status)}}-container">
                    <span class="circle-class" [ngClass]="getStatusClass(item.status)"></span> 
                    <span class="status-text">{{item.status}}</span>
                </p>
                <p class="label-containers"><span class="label">From: </span> <span class="email">{{item.from}}</span></p>
                <p class="label-containers"><span class="label">To: </span> <span class="email">{{item.to}}</span></p>
                <p class="label-containers"><span class="label">Due Date: </span> <span class="date">{{item.dueDate}}</span></p>
            </div>
        </div>
        <div class="map">
         <app-map></app-map>
        </div>
    </div>
</div>
