<div class="main-container">
  <section class="toolbar-items">
    <div class="search-box">
      <img src="../../../assets/images/Search.png" />
      <input type="text" placeholder="Search..." />
    </div>
    <div class="select-forms">
      <select required>
        <option value="" disabled selected>Select Form
        <option value="1">Select Form 1
        <option value="2">Select Form 2
        <option value="1">Select Form 3
        <option value="2">Select Form 4  
        <option value="1">Select Form 5
        <option value="2">Select Form 6  
      </select>
    </div>
    <div class="select-forms">
      <select required>
        <option value="" disabled selected>Select Status
        <option value="1">Select Status 1
        <option value="2">Select Status 2
        <option value="1">Select Status 3
        <option value="2">Select Status 4  
        <option value="1">Select Status 5
        <option value="2">Select Status 6  
      </select>
    </div>
    <div class="date-picker">
      <div class="col-md-6">
        <div class="date-container">
          <input id="date" placeholder="Choose Date" type="text" [(ngModel)]="date" ngbDatepicker #dp="ngbDatepicker"
            (ngModelChange)="onDateChange($event)" />
          <i class="date-icon fa fa-calendar" (click)="dp.toggle()" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="toggle-button">
      <div class="switches-container">
        <input type="radio" id="switchMap" name="switch" value="Map" checked="checked" />
        <input type="radio" id="switchList" name="switch" value="List" />
        <label for="switchMap">Map</label>
        <label for="switchList">List</label>
        <div class="switch-wrapper">
          <div class="switch">
            <div>Map</div>
            <div>List</div>
          </div>
        </div>
      </div>
    </div>
    <div class="export">
      <img src="../../../assets/images/Paper Download.png" />
      <button> Export </button>
    </div>
  </section>
</div>