<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">ZenduForms</a>
  <div class="nav-items-links">
    <div>
      <a routerLink="/forms" routerLinkActive="active" tabindex="1">
        <img src="../../../assets/images/format_list_bulleted.png" />
        <span> Forms </span>
      </a>
    </div>
    <div>
      <a routerLink="/customers" routerLinkActive="active" tabindex="2">
        <img src="../../../assets/images/people.png" />
        <span> Customers </span>
      </a>
    </div>
    <div>
      <a routerLink="/submissions" routerLinkActive="active" tabindex="3">
        <img src="../../../assets/images/graphic_eq.png" />
        <span> Submissions </span>
      </a>
    </div>
    <div>
      <a routerLink="/history" routerLinkActive="active" tabindex="4">
        <img src="../../../assets/images/history.png" />
        <span> History </span>
      </a>
    </div>
    <div>
      <a routerLink="/reports" routerLinkActive="active" tabindex="5">
        <img src="../../../assets/images/insert_chart_outlined.png" />
        <span> Reports </span>
      </a>
    </div>
    <div>
      <a routerLink="/workflow" routerLinkActive="active" tabindex="6">
        <img src="../../../assets/images/insert_chart_outlined.png" />
        <span> Workflow </span>
      </a>
    </div>
  </div>
  <div class="notifications">
    <img src="../../../assets/images/notifications.png" />
    <img src="../../../assets/images/logout.png" />
  </div>
</nav>